.box {
  height: 100px;
  width: 200px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}

.item {
  width: 300px;
  margin-right: 10px;
}

.default {
  border: 1px solid black;
}

.item-label {
  font-size: 10em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.win {
  border:1px solid blue;
}

.lose {
  border:1px solid red;
}

.cart {
  display: inline-block;
  width: 100px;
}